.join-fiverr {
	width: 100%;

	.container {
		max-width: 1400px;
		display: flex;
		height: 380px;
		margin: 0 auto;
		justify-content: space-between;
		padding: 96px 0;
	}

	picture {
		img {
			width: 100%;
		}
	}

	.signup-text {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 96px;
		gap: 32px;

		h1 {
			font-size: 48px;
			line-height: 56px;
			color: #fff;
		}

		i {
			font-family: "Domaine Display";
			font-weight: 900;
		}
	}
}
