.trusted-by {
	display: flex;
	background-color: rgb(247, 247, 247);
	height: 95px;
  margin-bottom: 95px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 1400px;
	color: #b5b6ba;

	.img-wrapper {
		height: 60px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}
}
